@tailwind base;
@tailwind components;
@tailwind utilities;




.active::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    top: 60px;
     border-radius: 10px;
    background: #41FA7E;
}